
/*CSR campain*/


.csr-slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.csr-slider {
    display: flex;
    transition: transform 0.5s ease;
}
 
.csr-card {
    flex: 0 0 100%;
    padding: 20px;
    align-items: center;
    text-align: center;
    height: 500px;
}
.csr-card img {
    width: 50%;
    border-radius: 10px;
}

.csr-card-content {
    padding-top: 3%;
}

.csr-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.csr-prev,
.csr-next {
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    outline: none;
}